body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131313;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-slide > div {
  margin: 0 15px;
  overflow: visible !important;
}
.slick-slider {
  margin: 0 -15px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}
